<!DOCTYPE html>
<html>
	<head>
		<title>about</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	
	<body>
		<h1 class = "toCenter">
			about
		</h1>
		<br></br>
		<div class="toCenter">
			<button type="button" class="btn btn-info"> 
				<a href="/">back to home</a> 
			</button>
		
		
		</div>
	</body>
</html>
