<!DOCTYPE html>
<html>
	<head>
		<title>post 1</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
		<div class="button">
			<div class="row">
				<div class="mx-auto mt-4" style="width: 400px; text-align: center; font-size: 30px;">
					post 1
				</div>
			</div>
			<div class="row">
				<div class="mx-auto mt-4" style="width: 400px;">
					<a class="btn btn-info btn-block" href="/" role="button">back to home</a>
				</div>
			</div>
			<div class="row">
				<div class="mx-auto mt-2" style="width: 400px;">
					<a class="btn btn-info btn-block" href="/posts" role="button">back to posts</a>
				</div>
			</div>
		</div>
	</body>
</html>