<!DOCTYPE html>
<html>

<head>
	<title>posts</title>
	<link rel='stylesheet' href='/css/style.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<h1 class="text-center mt-5 mb-5">posts</h1>

			</div>
			<div class="col">
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<a role="button" class="btn btn-info btn-block mt-1" href="/">back to home</a>
			</div>
			<div class="col">
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<a role="button" class="btn btn-info btn-block mt-3" href="/post1">post 1</a>
			</div>
			<div class="col">
			</div>
		</div>
	</div>

</body>
</html>
