
body {
	background: #e8e8e8;
}
* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.firstline {
	display: inline-block;
	padding: 20px;
	background: black;
	width: 500px;
}
.secondline {
	flex-direction: row;
	
	padding: 0px 20px 20px 20px;
	width: 500px;

	background: black;
}

input[type="text"] {
	width: 300px;
}


.logo {
	
	display: inline-block;
	background: lightblue;
	height: 100px;
	width: 100px;
	vertical-align: top;
}

.logo:hover {
	background: black;
}



.title {

	display: inline-block;
	background: green;
	width:300px;
	height:100px;
	vertical-align: top;
}

ul {
	width: 500px;
	list-style: none;
	padding-left: 0;
	text-align: left;
	border: 20px;
}

ul li {
	position: relative;
	padding: 12px 8px 12px 40px;
	background: skyblue;
	margin: 5px;
	font-size: 18px;
	overflow: auto;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

button {
	border:0;
	margin:0;
	float:right;
}

button .clicked {
  background-color: black;
  color: white;
}